.col-sm-5.hidden-xs
  = link_to image_tag("org_logo_197x57.png"), "http://www.icts.uiowa.edu/"
.col-sm-5
  = link_to image_tag("department_name_460_by_60.gif", height: '100'), "https://i-cart.icts.uiowa.edu/"
.col-sm-2.hidden-xs
  = link_to image_tag("institution_logo_136x86.gif"), "http://www.uiowa.edu/"
